// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar {
	.logo {
    	border: 0;
   		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 70%;
       padding-top: 2%;
	}
}
.news {
	background-color: #fafafa;
	align: justify;
	border-top: 1px;
	border-bottom: 1px;

}


.notif {
	width: 75%;
	margin-right: 3%;
}

ion-input{
	--placeholder-font-style: italic;
	font-size: 15px;
	--padding-start: 8px;
	--padding-end: 8px;
}	
	.custom-label{
	font-size: 11px;
	padding: 8px;

	}

ion-button {
	--box-shadow: none;
	font-size: 14px;
}

.bg-gray{
	background-color: #f7f7f7;	
}
.margin-bottom-7 {
	margin-bottom: 7px;
}
ion-item.item-transparent{
	--background: transparent;
}